.sem-resultados {
  color: #b7b7b7;
  text-align: center;
  padding: 40px 0;
  min-height: 400px;
}

.lista-cards {
  max-width: 1200px;
  min-height: 400px;
  margin:  20px auto ;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  

}



